# Project exclude paths test
/*/target/
/.idea/
.project
.classpath
/*/.project
/*/.classpath
/*/.settings/
/*/.mvn/
/*/mvnw
/*/mvnw.cmd
/*/*.iml
/log/
/*/log/
/*/*.log
/*/*.gz
/.jpb/
/.jpb/
/*/*.hprof
/h2/
/h2/
