body .layer-ext-yourskin .layui-layer-title {
    background: #2B2B2BFF;
    opacity: 0.7;
    color: inherit;
    border: none;
    title-test: 2024;
}

body .layer-ext-yourskin .layui-layer-content iframe {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none;
    test: 2024;
}

body .layer-ext-yourskin .layui-layer {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none
}

body .layer-ext-yourskin #layui-layer-iframe1 {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none
}

body .layui-ext-yourskin .layui-layer-btn {
    background: #151f2c !important;
    color: #fff !important;
    border: none !important;
}

body .layui-ext-yourskin .layui-layer-btn a {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none
}

body .layer-ext-yourskin {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none;
}

body .layer-ext-yourskin ::-webkit-scrollbar {
    display: none !important;
}

body .layer-ext-yourskin div {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none
}

body .layer-ext-yourskin span {
    /*background: #151f2c;*/
    /*color: #fff;*/
    border: none
}