<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.nc.NCMapper">

    <select id="dwd_report_finance_org_region_cash_flow_daily" resultType="com.alibaba.fastjson2.JSONObject">
        <![CDATA[
        with org as (SELECT org.code as org_code,
                            org.name as org_name,
                            org.pk_vid,
                            org.pk_financeorg
                     from org_financeorg_v org
                     where org.code like '32%'
                       and org.name like '%汤和%'),
             target_date as (SELECT #{targetDate} as target_date FROM DUAL),
             收款单_收入回款 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ar_gatherbill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ar_gatheritem item on item.pk_gatherbill = bill.pk_gatherbill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ( (select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and busic.name like '%收租赁款%'
                                 group by org.org_code),
             收款单_其他回款 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ar_gatherbill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ar_gatheritem item on item.pk_gatherbill = bill.pk_gatherbill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ((select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and busic.name not like '%收租赁款%'
                                 group by org.org_code),
             收款单_资产处置 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ar_gatherbill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ar_gatheritem item on item.pk_gatherbill = bill.pk_gatherbill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ((select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and busic.name not like '%待确定%'
                                 group by org.org_code),
             付款单_转租租金 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ((select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and busic.name like '%付转租租金款%'
                                 group by org.org_code),
             付款单_运费 as (SELECT org.org_code,
                                    sum(NVL(bill.money, 0)) as amount,
                                    1                       as ret
                             from org org
                                      LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                      LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                      LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                             where bill.billdate like ((select * from target_date) || '%')
                               and bill.dr = '0'
                               and busic.name like '%付运输服务费%'
                             group by org.org_code),
             付款单_职工薪酬 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ((select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and busic.name like '%付固定工资%'
                                 group by org.org_code),
             付款单_税金 as (SELECT org.org_code,
                                    sum(NVL(bill.money, 0)) as amount,
                                    1                       as ret
                             from org org
                                      LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                      LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                      LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                             where bill.billdate like ((select * from target_date) || '%')
                               and bill.dr = '0'
                               and (busic.name like '%付个人所得税%' or busic.name like '%付增值税%' or
                                    busic.name like '%付印花税%' or busic.name like '%付所得税%')
                             group by org.org_code),
             付款单_投标保证金 as (SELECT org.org_code,
                                          sum(NVL(bill.money, 0)) as amount,
                                          1                       as ret
                                   from org org
                                            LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                            LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                            LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                   where bill.billdate like ((select * from target_date) || '%')
                                     and bill.dr = '0'
                                     and (busic.name like '%投标保证金%')
                                   group by org.org_code),
             付款单_场地租赁支出 as (SELECT org.org_code,
                                            sum(NVL(bill.money, 0)) as amount,
                                            1                       as ret
                                     from org org
                                              LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                              LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                              LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                     where bill.billdate like ((select * from target_date) || '%')
                                       and bill.dr = '0'
                                       and (busic.name like '%场地租赁%')
                                     group by org.org_code),
             付款单_仓储成本支出 as (SELECT org.org_code,
                                            sum(NVL(bill.money, 0)) as amount,
                                            1                       as ret
                                     from org org
                                              LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                              LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                              LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                     where bill.billdate like ((select * from target_date) || '%')
                                       and bill.dr = '0'
                                       and (busic.name like '%仓储%')
                                     group by org.org_code),
             付款单_劳务成本支出 as (SELECT org.org_code,
                                            sum(NVL(bill.money, 0)) as amount,
                                            1                       as ret
                                     from org org
                                              LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                              LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                              LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                     where bill.billdate like ((select * from target_date) || '%')
                                       and bill.dr = '0'
                                       and (busic.name like '%付劳务费%')
                                     group by org.org_code),
             付款单_其他付现费用 as (SELECT org.org_code,
                                                sum(NVL(bill.money, 0)) as amount,
                                                1                       as ret
                                         from org org
                                                  LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                                  LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                                  LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                         where bill.billdate like ((select * from target_date) || '%')
                                           and bill.dr = '0'
                                           and (busic.name like '%待确定%')
                                         group by org.org_code),
             付款单_盘扣钢板采购 as (SELECT org.org_code,
                                              sum(NVL(bill.money, 0)) as amount,
                                              1                       as ret
                                       from org org
                                                LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                                LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                                LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                       where bill.billdate like ((select * from target_date) || '%')
                                         and bill.dr = '0'
                                         and (busic.name like '%材料采购%')
                                       group by org.org_code),
             付款单_软件 as (SELECT org.org_code,
                                    sum(NVL(bill.money, 0)) as amount,
                                    1                       as ret
                             from org org
                                      LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                      LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                      LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                             where bill.billdate like ((select * from target_date) || '%')
                               and bill.dr = '0'
                               and (busic.name like '%付无形资产%')
                             group by org.org_code),
             付款单_零星资产 as (SELECT org.org_code,
                                        sum(NVL(bill.money, 0)) as amount,
                                        1                       as ret
                                 from org org
                                          LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                          LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                          LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                 where bill.billdate like ((select * from target_date) || '%')
                                   and bill.dr = '0'
                                   and (busic.name like '%付物料消耗%')
                                 group by org.org_code),
             付款单_仓储资本支出 as (SELECT org.org_code,
                                              sum(NVL(bill.money, 0)) as amount,
                                              1                       as ret
                                       from org org
                                                LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
                                                LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
                                                LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
                                       where bill.billdate like ((select * from target_date) || '%')
                                         and bill.dr = '0'
                                         and (busic.name like '%固定资产%' or busic.name like '%在建工程%')
                                       group by org.org_code)
        SELECT org.org_code,
               org.org_name,

               nvl(收款单_收入回款.amount, 0)         as 收款单_收入回款,
               nvl(收款单_其他回款.amount, 0)         as 收款单_其他回款,
               nvl(收款单_资产处置.amount, 0)         as 收款单_资产处置,

               nvl(付款单_转租租金.amount, 0)         as 付款单_转租租金,
               nvl(付款单_运费.amount, 0)             as 付款单_运费,
               nvl(付款单_职工薪酬.amount, 0)         as 付款单_职工薪酬,
               nvl(付款单_税金.amount, 0)             as 付款单_税金,
               nvl(付款单_投标保证金.amount, 0)       as 付款单_投标保证金,
               nvl(付款单_场地租赁支出.amount, 0)     as 付款单_场地租赁支出,
               nvl(付款单_仓储成本支出.amount, 0)     as 付款单_仓储成本支出,
               nvl(付款单_劳务成本支出.amount, 0)     as 付款单_劳务成本支出,

               nvl(付款单_其他付现费用.amount, 0) as 付款单_其他付现费用,
               nvl(付款单_盘扣钢板采购.amount, 0)   as 付款单_盘扣钢板采购,
               nvl(付款单_软件.amount, 0)             as 付款单_软件,
               nvl(付款单_零星资产.amount, 0)         as 付款单_零星资产,
               nvl(付款单_仓储资本支出.amount, 0)   as 付款单_仓储资本支出,

               1                                      as ret
        from org org
                 LEFT JOIN 收款单_收入回款 收款单_收入回款 on 收款单_收入回款.org_code = org.org_code
                 LEFT JOIN 收款单_其他回款 收款单_其他回款 on 收款单_其他回款.org_code = org.org_code
                 LEFT JOIN 收款单_资产处置 收款单_资产处置 on 收款单_资产处置.org_code = org.org_code
                 LEFT JOIN 付款单_转租租金 付款单_转租租金 on 付款单_转租租金.org_code = org.org_code
                 LEFT JOIN 付款单_运费 付款单_运费 on 付款单_运费.org_code = org.org_code
                 LEFT JOIN 付款单_职工薪酬 付款单_职工薪酬 on 付款单_职工薪酬.org_code = org.org_code
                 LEFT JOIN 付款单_税金 付款单_税金 on 付款单_税金.org_code = org.org_code
                 LEFT JOIN 付款单_投标保证金 付款单_投标保证金 on 付款单_投标保证金.org_code = org.org_code
                 LEFT JOIN 付款单_场地租赁支出 付款单_场地租赁支出 on 付款单_场地租赁支出.org_code = org.org_code
                 LEFT JOIN 付款单_仓储成本支出 付款单_仓储成本支出 on 付款单_仓储成本支出.org_code = org.org_code
                 LEFT JOIN 付款单_劳务成本支出 付款单_劳务成本支出 on 付款单_劳务成本支出.org_code = org.org_code
                 LEFT JOIN 付款单_其他付现费用 付款单_其他付现费用 on 付款单_其他付现费用.org_code = org.org_code
                 LEFT JOIN 付款单_盘扣钢板采购 付款单_盘扣钢板采购 on 付款单_盘扣钢板采购.org_code = org.org_code
                 LEFT JOIN 付款单_软件 付款单_软件 on 付款单_软件.org_code = org.org_code
                 LEFT JOIN 付款单_零星资产 付款单_零星资产 on 付款单_零星资产.org_code = org.org_code
                 LEFT JOIN 付款单_仓储资本支出 付款单_仓储资本支出 on 付款单_仓储资本支出.org_code = org.org_code
        ]]>
    </select>
    <select id="dwd_report_finance_org_collect_status_daily" resultType="com.alibaba.fastjson2.JSONObject">
        with org as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        org.pk_vid,
        org.pk_financeorg
        from org_financeorg_v org
        where org.code like '32%'  and org.name like '%汤和%'
        ),
        target_date as (
        SELECT #{targetDate} as target_date FROM DUAL
        ),
        yyyy as (
        SELECT to_char((SYSDATE + INTERVAL '-1' DAY), 'yyyy') as yyyy FROM DUAL
        ),
        mm as (
        SELECT to_char((SYSDATE + INTERVAL '-1' DAY), 'mm') as mm FROM DUAL
        ),
        dd as (
        SELECT to_char((SYSDATE + INTERVAL '-1' DAY), 'dd') as dd FROM DUAL
        ),
        科目余额_资本金 as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        gl_balan.adjustperiod,
        sum ( COALESCE(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
        org.code in (select org_code from org)
        and gl_balan.ts like ((select * from target_date) || '%')
        and gl_balan.voucherkind != 5
        and t.code like '4001%'
        group by org.code,org.name,gl_balan.adjustperiod
        ),
        科目余额_关联方借款 as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        gl_balan.adjustperiod,
        sum ( COALESCE(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
        org.code in (select org_code from org)
        and gl_balan.ts like ((select * from target_date) || '%')
        and gl_balan.voucherkind != 5
        and t.code like '3001%'
        group by org.code,org.name,gl_balan.adjustperiod
        ),
        科目余额_利息支出 as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        gl_balan.adjustperiod,
        sum ( COALESCE(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
        org.code in (select org_code from org)
        and gl_balan.ts like ((select * from target_date) || '%')
        and gl_balan.voucherkind != 5
        and t.code like '2231%'
        group by org.code,org.name,gl_balan.adjustperiod
        ),
        科目余额_股利支付 as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        gl_balan.adjustperiod,
        sum ( NVL(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
        org.code in (select org_code from org)
        and gl_balan.ts like ((select * from target_date) || '%')
        and gl_balan.voucherkind != 5
        and t.code like '2232%'
        group by org.code,org.name,gl_balan.adjustperiod
        ),
        付款单_银行贷款还款 as (
        SELECT org.org_code,
        sum(NVL(bill.money, 0)) as amount,
        1                       as ret
        from org org
        LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
        LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
        LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
        where bill.billdate like ((select * from target_date)|| '%')
        and bill.dr = '0'
        and busic.name like '%付金融机构长期借款%'
        group by org.org_code
        ),
        收款单_银行贷款 as (
        SELECT
        org.org_code,
        sum(NVL(bill.money,0)) as amount,
        1 as ret
        from org org
        LEFT JOIN ar_gatherbill bill on org.pk_financeorg = bill.pk_org
        LEFT JOIN ar_gatheritem item on item.pk_gatherbill  = bill.pk_gatherbill
        LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
        where
        bill.billdate like ((SELECT * from target_date) || '%')
        and bill.dr = '0'
        and busic.name  like '%收金融机构长期借款%'
        group by  org.org_code
        ),
        付款单_关联方还款 as (
        SELECT org.org_code,
        sum(NVL(bill.money, 0)) as amount,
        1                       as ret
        from org org
        LEFT JOIN ap_paybill bill on org.pk_financeorg = bill.pk_org
        LEFT JOIN ap_payitem item on item.pk_paybill = bill.pk_paybill
        LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
        where bill.billdate like ((select * from target_date)|| '%')
        and bill.dr = '0'
        and busic.name like '%付非金融机构长期借款%'
        group by org.org_code
        )
        SELECT
        org.org_code,
        org.org_name,
        科目余额_资本金. debitamountsum as 科目余额_资本金,
        科目余额_关联方借款. debitamountsum as 科目余额_关联方借款,
        科目余额_利息支出. debitamountsum as 科目余额_利息支出,
        科目余额_股利支付. debitamountsum as 科目余额_股利支付,
        付款单_银行贷款还款. amount as 付款单_银行贷款还款,
        收款单_银行贷款. amount as 收款单_银行贷款,
        付款单_关联方还款. amount as 付款单_关联方还款,
        1 as ret
        from org
        LEFT JOIN 科目余额_资本金 科目余额_资本金 on 科目余额_资本金.org_code = org.org_code
        LEFT JOIN 科目余额_关联方借款 科目余额_关联方借款 on 科目余额_关联方借款.org_code = org.org_code
        LEFT JOIN 科目余额_利息支出 科目余额_利息支出 on 科目余额_利息支出.org_code = org.org_code
        LEFT JOIN 科目余额_股利支付 科目余额_股利支付 on 科目余额_股利支付.org_code = org.org_code
        LEFT JOIN 付款单_银行贷款还款 付款单_银行贷款还款 on 付款单_银行贷款还款.org_code = org.org_code
        LEFT JOIN 收款单_银行贷款 收款单_银行贷款 on 收款单_银行贷款.org_code = org.org_code
        LEFT JOIN 付款单_关联方还款 付款单_关联方还款 on 付款单_关联方还款.org_code = org.org_code
    </select>

    <select id="getNCCodeOfCustomerName" resultType="java.lang.String">
        SELECT code
        from bd_customer
        where name like '%' || #{customerName} || '%'
    </select>
    <select id="sumAmountOfSubjectByOrgCodeWithYYYYMM" resultType="java.math.BigDecimal">
    <![CDATA[
        with
        this_year as (
            SELECT to_char(to_date(#{yyyyMM},'YYYY-MM'), 'YYYY') as year from dual
        ),
        last_month as (
            SELECT to_char(to_date(#{yyyyMM},'YYYY-MM') , 'MM') as month from dual
        ),
        org as (
        SELECT DISTINCT code as org_code, name as org_name from org_financeorg
        where name like '%汤和%'  AND  (name like '%工程%' or name like '%新材料%' ) and code like '32%'
        )
        ,target as (
        SELECT
        org.code as org_code,
        org.name as org_name,
        gl_balan.adjustperiod,
        sum ( COALESCE(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
        org.code = #{orgCode}
        and gl_balan.year = (SELECT year from this_year)
        and gl_balan.adjustperiod = (SELECT month from last_month)
        and gl_balan.voucherkind <> 5
        and t.code like #{subjectCode} || '%'
        group by org.code,org.name,gl_balan.adjustperiod
        )
        SELECT debitamountsum from target
        ]]>
    </select>
    <select id="sumAmountOfSubjectByOrgCodeWithYYYYMMDD" resultType="java.math.BigDecimal">
    <![CDATA[
        with
            this_year as (
                SELECT to_char(to_date(#{yyyyMMdd},'YYYY-MM-dd'), 'YYYY') as year from dual
            ),
            last_month as (
        SELECT to_char(to_date(#{yyyyMMdd},'YYYY-MM-dd') , 'MM') as month from dual
            ),
            org as (
        SELECT DISTINCT code as org_code, name as org_name from org_financeorg
        where name like '%汤和%'  AND  (name like '%工程%' or name like '%新材料%' ) and code like '32%'
            )
            ,target as (
        SELECT
            org.code as org_code,
            org.name as org_name,
            gl_balan.adjustperiod,
            sum ( COALESCE(gl_balan.debitamount, 0) ) debitamountsum
        from gl_balance gl_balan
            LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
            LEFT JOIN bd_account t on a.pk_account = t.pk_account
            LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
            LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where
            org.code = #{orgCode}
          and gl_balan.year = (SELECT year from this_year)
          and gl_balan.adjustperiod = (SELECT month from last_month)
          and gl_balan.voucherkind <> 5
          and t.code like #{subjectCode} || '%'
        group by org.code,org.name,gl_balan.adjustperiod
            )
        SELECT debitamountsum from target
        ]]>
    </select>
    <select id="sumPayBillOfOrg" resultType="java.math.BigDecimal">
        with org as (
            SELECT
                org.code as org_code,org.name as org_name,org.pk_vid
            from org_financeorg_v org
            where 1=1 and org.code = #{orgCode}
        )
        SELECT
            sum(NVL(bill.money,0)) as amount
        from org org
                 LEFT JOIN ap_paybill bill on org.pk_vid = bill.pk_org_v -- 付款单
                 LEFT JOIN ap_payitem item on item.pk_paybill  = bill.pk_paybill   -- 客户收款单行
                 LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode -- 收支项目表
        where
            bill.billdate like #{targetDate} || '%'
          and bill.dr = '0'
        and busic.name  like '%' || #{className} ||'%'
        group by  org.org_code

    </select>
    <select id="sumGatherBillOfOrg" resultType="java.math.BigDecimal">
        with org as (
            SELECT
                org.code as org_code,org.name as org_name,org.pk_vid,org.pk_financeorg
            from org_financeorg_v org
            where 1=1 and org.code = #{orgCode}
        )
        SELECT org.org_code,
               sum(NVL(bill.money, 0)) as amount,
               1                       as ret
            from org org
            LEFT JOIN ar_gatherbill bill on org.pk_financeorg = bill.pk_org
            LEFT JOIN ar_gatheritem item on item.pk_gatherbill  = bill.pk_gatherbill
            LEFT JOIN bd_inoutbusiclass busic on busic.pk_inoutbusiclass = item.pk_subjcode
        where bill.billdate like #{yyyyMMdd} || '%'
          and bill.dr = '0'
          and busic.name like '%' || #{className} ||'%'
        group by org.org_code
    </select>
    <select id="sumAmountOfDocFreeByOrgCodeWithYYYYMM" resultType="java.math.BigDecimal">
    <![CDATA[
    with
            this_year as (
                SELECT to_char(to_date(#{yyyyMM},'YYYY-MM'), 'YYYY') as year from dual
            ),
            last_month as (
        SELECT to_char(to_date(#{yyyyMM},'YYYY-MM') , 'MM') as month from dual
            )
        SELECT
        -- org.code as org_code,
        -- org.name as org_name,
        -- gl_balan.year,
        -- gl_balan.adjustperiod,
        -- bd_defdoc.code,
        -- bd_defdoc.name,
        -- bd_cust_supplier.code as customer_code,
        -- d_cust_supplier.name as customer_name,
        -- gl_balan.debitamount
        sum(gl_balan.debitamount)
        from gl_balance gl_balan
        LEFT JOIN gl_docfree1 on gl_balan.assid = gl_docfree1.assid
        LEFT JOIN bd_cust_supplier  on bd_cust_supplier.pk_cust_sup  = gl_docfree1.F4
        LEFT JOIN bd_defdoc on bd_defdoc.pk_defdoc  = gl_docfree1.F21
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where 1=1
        and org.code = #{orgCode}
        and gl_balan.year = (SELECT year from this_year)
        and gl_balan.adjustperiod = (SELECT month from last_month)
        and gl_balan.voucherkind <> 5
        and t.code like #{subjectCode} || '%'
        and bd_defdoc.code = #{code}
        and bd_cust_supplier.code is not null
        ]]>
    </select>
    <select id="checkContract" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT pk_project,project_name,project_code from bd_project where trim(project_name) like trim(#{name})
    </select>
    <select id="selectCustomer" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT code,name
        from  bd_customer  where name = trim(#{name})
    </select>
    <select id="sumAmountOfSubjectByOrgCodeAssistWithYYYYMM" resultType="java.math.BigDecimal">
        with
        this_year as (
        SELECT to_char(to_date(#{yyyyMM},'YYYY-MM'), 'YYYY') as year from dual
        ),
        last_month as (
        SELECT to_char(to_date(#{yyyyMM},'YYYY-MM') , 'MM') as month from dual
        )
        SELECT
                sum(gl_balan.debitamount)
        from gl_balance gl_balan
        LEFT JOIN gl_docfree1 on gl_balan.assid = gl_docfree1.assid
        LEFT JOIN bd_cust_supplier  on bd_cust_supplier .pk_cust_sup  = gl_docfree1.F4
        LEFT JOIN bd_defdoc on bd_defdoc.pk_defdoc  = gl_docfree1.F21
        LEFT JOIN bd_accasoa a on a.PK_ACCASOA = gl_balan.PK_ACCASOA
        LEFT JOIN bd_account t on a.pk_account = t.pk_account
        LEFT JOIN org_accountingbook  book on book.pk_accountingbook = gl_balan.pk_accountingbook
        LEFT JOIN org_financeorg org on org.pk_financeorg = book.pk_relorg
        where 1=1
        and org.code = #{orgCode}
        and gl_balan.year = (SELECT year from this_year)
        and gl_balan.adjustperiod = (SELECT month from last_month)
        and gl_balan.voucherkind != 5
        and t.code like #{subjectCode}|| '%'
        and bd_defdoc.code = #{assistCode}
        and bd_cust_supplier.code is not null

    </select>
</mapper>
