<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.sibyl.dao.MysqlMapper">

    <select id="queryUserAccount" resultType="me.sibyl.entity.UserAccount">
        select *
        from user_account
        where id = '3213'
    </select>
</mapper>
