<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.sibyl.dao.PsychoPassRecordMapper">

    <select id="query" resultType="me.sibyl.entity.PsychoPassRecord">
        select r.id, r.uid, r.psycho_pass, r.create_time, r.type, r.flag, r.state, r.code
        from psycho_pass_record_202305 r
        <where>
            r.is_deleted = '0'
            <if test="uid != null and uid !=''">
                and r.uid = #{uid}
            </if>
        </where>
        order by r.create_time desc
    </select>
</mapper>
