<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.eos.EosOccupancyRateMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.eos.EosOccupancyRate">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="storeCode" column="store_code" jdbcType="VARCHAR"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
            <result property="materialName" column="material_name" jdbcType="VARCHAR"/>
            <result property="dataType" column="data_type" jdbcType="VARCHAR"/>
            <result property="rentingMat" column="renting_mat" jdbcType="NUMERIC"/>
            <result property="inStockMat" column="in_stock_mat" jdbcType="NUMERIC"/>
            <result property="totalMat" column="total_mat" jdbcType="NUMERIC"/>
            <result property="occupancyRate" column="occupancy_rate" jdbcType="NUMERIC"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_code,org_name,
        store_code,store_name,material_code,
        material_name,data_type,renting_mat,
        in_stock_mat,total_mat,occupancy_rate,
        create_time,updatetime
    </sql>
</mapper>
