<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.eos.EosRealTimeFreightMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.eos.EosRealTimeFreight">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="freightCost" column="freight_cost" jdbcType="NUMERIC"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_code,org_name,
        dept_code,dept_name,project_code,
        project_name,freight_cost,is_deleted,
        create_by,create_time,update_by,
        update_time,date
    </sql>
</mapper>
