<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="/css/layui.css" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div>
    <form class="layui-form layui-form-pane" action="" style="margin: 50px;">
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">name</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">type</label>
                <div class="layui-input-block">
                    <select name="type">
                        <option th:each="t:${typeList}" th:text="${t.code}" th:value="${t.code}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">host</label>
                <div class="layui-input-block">
                    <input type="text" name="host" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">port</label>
                <div class="layui-input-block">
                    <input type="text" name="port" onkeyup="value=value.replace(/[^\d]/g,'')" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">username</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">password</label>
                <div class="layui-input-block">
                    <input type="text" name="password" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md12">
                <label class="layui-form-label">database</label>
                <div class="layui-input-block">
                    <input type="text" name="database" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="test">测试连接</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layui.js"></script>
<script src="/js/common/common.js"></script>
<script>
    layui.use(['form', 'laydate', 'util'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;

        // 提交事件
        form.on('submit(submit)', function (data) {
            var field = data.field; // 获取表单字段值
            console.log(field)
            axios
                .post('/database/add', field)
                .then(response => {
                    console.log(response)
                    layer_confirm("操作成功", () => {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    })
                })
                .catch(error => {
                    console.log(error)
                    layer.msg(error.message);
                })
            return false; // 阻止默认 form 跳转
        });

        // 日期
        laydate.render({
            elem: '#date'
        });
    });
</script>

</body>
</html>