<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.crm.ContractInfoDailyMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.crm.ContractInfoDaily">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="contractCode" column="contract_code" jdbcType="VARCHAR"/>
            <result property="contractName" column="contract_name" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="contractState" column="contract_state" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="businessModel" column="business_model" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_code,org_name,
        dept_code,dept_name,date,
        contract_code,contract_name,project_name,
        contract_state,customer_name,business_model,
        is_deleted,create_time,create_by
    </sql>
</mapper>
