<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.common.JobMapper">


    <select id="jobList" resultType="com.alibaba.fastjson2.JSONObject">
        select * from qrtz_job_details job
        left join qrtz_triggers trigger on job.job_name = trigger.job_name and job.job_group = trigger.job_group
        left join qrtz_cron_triggers cron on cron.trigger_name = trigger.trigger_name and cron.trigger_group = trigger.trigger_group
        order by job.job_name asc
    </select>
</mapper>
