<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.DailyWarehouseSituationMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.DailyWarehouseSituation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="date" column="date" jdbcType="VARCHAR"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="month" column="month" jdbcType="INTEGER"/>
            <result property="day" column="day" jdbcType="INTEGER"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="warehouseCode" column="warehouse_code" jdbcType="VARCHAR"/>
            <result property="warehouseName" column="warehouse_name" jdbcType="VARCHAR"/>
            <result property="maxStoreVolume" column="max_store_volume" jdbcType="NUMERIC"/>
            <result property="fullWarehouseRate" column="full_warehouse_rate" jdbcType="NUMERIC"/>
            <result property="rentalRate" column="rental_rate" jdbcType="NUMERIC"/>
            <result property="noCheckGoods" column="no_check_goods" jdbcType="NUMERIC"/>
            <result property="perCapitaOwnNum" column="per_capita_own_num" jdbcType="INTEGER"/>
            <result property="unsuppliedNum" column="unsupplied_num" jdbcType="INTEGER"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="inrentNum" column="inrent_num" jdbcType="NUMERIC"/>
            <result property="inhouseNum" column="inhouse_num" jdbcType="NUMERIC"/>
            <result property="totalNum" column="total_num" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_deleted,date,
        year,month,day,
        org_code,org_name,warehouse_code,
        warehouse_name,max_store_volume,full_warehouse_rate,
        rental_rate,no_check_goods,per_capita_own_num,
        unsupplied_num,update_by,update_time,
        inrent_num,inhouse_num,total_num
    </sql>
</mapper>
