<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.OrgOverallOperationMonthlyMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.OrgOverallOperationMonthly">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="subjectCode6001" column="subject_code_6001" jdbcType="NUMERIC"/>
            <result property="subjectCode510130" column="subject_code_510130" jdbcType="NUMERIC"/>
            <result property="subjectCode510113" column="subject_code_510113" jdbcType="NUMERIC"/>
            <result property="subjectCode6401" column="subject_code_6401" jdbcType="NUMERIC"/>
            <result property="subjectCode6403" column="subject_code_6403" jdbcType="NUMERIC"/>
            <result property="subjectCode6601" column="subject_code_6601" jdbcType="NUMERIC"/>
            <result property="subjectCode6602" column="subject_code_6602" jdbcType="NUMERIC"/>
            <result property="subjectCode6603" column="subject_code_6603" jdbcType="NUMERIC"/>
            <result property="subjectCode6115" column="subject_code_6115" jdbcType="NUMERIC"/>
            <result property="subjectCode6117" column="subject_code_6117" jdbcType="NUMERIC"/>
            <result property="subjectCode6301" column="subject_code_6301" jdbcType="NUMERIC"/>
            <result property="subjectCode6711" column="subject_code_6711" jdbcType="NUMERIC"/>
            <result property="subjectCode6801" column="subject_code_6801" jdbcType="NUMERIC"/>
            <result property="subjectCode5301" column="subject_code_5301" jdbcType="NUMERIC"/>
            <result property="year" column="year" jdbcType="VARCHAR"/>
            <result property="month" column="month" jdbcType="VARCHAR"/>
            <result property="day" column="day" jdbcType="VARCHAR"/>
            <result property="profitAmount" column="profit_amount" jdbcType="NUMERIC"/>
            <result property="profitRate" column="profit_rate" jdbcType="NUMERIC"/>
            <result property="operatingProfit" column="operating_profit" jdbcType="NUMERIC"/>
            <result property="totalProfit" column="total_profit" jdbcType="NUMERIC"/>
            <result property="netProfit" column="net_profit" jdbcType="NUMERIC"/>
            <result property="netProfitRate" column="net_profit_rate" jdbcType="NUMERIC"/>
            <result property="subjectCode6101" column="subject_code_6101" jdbcType="NUMERIC"/>
            <result property="subjectCode6111" column="subject_code_6111" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,org_code,
        org_name,is_deleted,create_time,
        create_by,update_time,update_by,
        subject_code_6001,subject_code_510130,subject_code_510113,
        subject_code_6401,subject_code_6403,subject_code_6601,
        subject_code_6602,subject_code_6603,subject_code_6115,
        subject_code_6117,subject_code_6301,subject_code_6711,
        subject_code_6801,subject_code_5301,year,
        month,day,profit_amount,
        profit_rate,operating_profit,total_profit,
        net_profit,net_profit_rate,subject_code_6101,
        subject_code_6111
    </sql>
</mapper>
