<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.bi.AccountTargetIndexMonthlyMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.bi.AccountTargetIndexMonthly">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="accountCode" column="account_code" jdbcType="VARCHAR"/>
            <result property="accountName" column="account_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="capitalFund" column="capital_fund" jdbcType="NUMERIC"/>
            <result property="relatedPartyLoans" column="related_party_loans" jdbcType="NUMERIC"/>
            <result property="interestExpense" column="interest_expense" jdbcType="NUMERIC"/>
            <result property="dividendPayment" column="dividend_payment" jdbcType="NUMERIC"/>
            <result property="bankLoanRepayment" column="bank_loan_repayment" jdbcType="NUMERIC"/>
            <result property="bankLoans" column="bank_loans" jdbcType="NUMERIC"/>
            <result property="relatedPartyRepayment" column="related_party_repayment" jdbcType="NUMERIC"/>
            <result property="endingBalance" column="ending_balance" jdbcType="NUMERIC"/>
            <result property="openingBalance" column="opening_balance" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,account_code,
        account_name,is_deleted,create_time,
        create_by,capital_fund,related_party_loans,
        interest_expense,dividend_payment,bank_loan_repayment,
        bank_loans,related_party_repayment,ending_balance,
        opening_balance
    </sql>
</mapper>
