<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.bi.OrgTargetIndexMonthlyMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.bi.OrgTargetIndexMonthly">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="rentalPriceAvg" column="rental_price_avg" jdbcType="NUMERIC"/>
            <result property="purchasePriceAvg" column="purchase_price_avg" jdbcType="NUMERIC"/>
            <result property="subleasePriceAvg" column="sublease_price_avg" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,org_code,
        org_name,is_deleted,create_time,
        create_by,rental_price_avg,purchase_price_avg,
        sublease_price_avg
    </sql>
</mapper>
