<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.bi.PostgreMapper">


    <select id="getOrgTradeDaily" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT *
        from (SELECT org_code,
                     org_name, date, income, income_month, ROW_NUMBER() OVER (PARTITION by org_code ORDER BY date desc)
              from ods_xcl_eos_org_trade_daily
              where to_char(date, 'yyyy-mm-dd') &lt;= #{targetDate}) temp
        where ROW_NUMBER = 1
    </select>
    <select id="getOrgIncomeYear" resultType="java.math.BigDecimal">
        <![CDATA[
        SELECT sum(income_month)
        from (SELECT org_code,
                     org_name, date, income, income_month, ROW_NUMBER() OVER (PARTITION by org_code, to_char(date, 'yyyy-mm') ORDER BY date desc)
              from ods_xcl_eos_org_trade_daily
              where to_char(date, 'yyyy-mm-dd') <= #{targetDate}
                and org_code=#{orgCode}) temp
        where ROW_NUMBER = 1
        ]]>
    </select>
    <select id="getStoreIncomeYear" resultType="java.math.BigDecimal">

        SELECT sum(sales_amount_this_month)
        from (SELECT
        daily.date,
        daily.sales_amount_this_day,
        daily.sales_amount_this_month,
        ROW_NUMBER() OVER (PARTITION by daily.contract_code, to_char(date, 'yyyy-mm') ORDER BY date desc)
        from dwd_xcl_contract_target_index_daily daily
        left join ods_xcl_eos_contract contract on contract.contract_code = daily.contract_code
        left join ods_xcl_eos_mater_store_info store on contract.delivery_warehouse = store.store_code
        where to_char(date, 'yyyy-mm-dd') &lt;= #{yyyyMMdd}
        and store.store_code in
        <foreach collection="storeCodeList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach >) temp
        where ROW_NUMBER = 1
    </select>
    <select id="materialRentOutRateByType" resultType="com.alibaba.fastjson2.JSONObject">
        <![CDATA[
        select rate.store_code as store_code,
               rate.material_code as material_code,
        sum(coalesce(rate.renting_mat, 0)) as renting_mat,
        sum(coalesce(rate.total_mat, 0)) as total_mat,
        case when sum(coalesce(rate.total_mat, 0))<= 0 then 0 else
        (sum(coalesce(rate.renting_mat, 0)) / sum(coalesce(rate.total_mat, 0))) end as rent_rate
        from ods_th_mat_occupancy_rate rate
        LEFT JOIN ods_xcl_eos_th_material_info material ON rate.material_code = material.material_code
        LEFT JOIN ods_xcl_eos_mater_store_info store ON rate.store_code = store.store_code
        where 1 = 1
        and material.material_code like (#{parentCode} || '%')
        and to_char(rate.create_time, 'yyyy-mm-dd') = #{targetDate}
        group by rate.store_code, rate.material_code
        ]]>
    </select>
    <select id="orgList" resultType="com.tanghe.dto.OrgDTO">
        select org.orgcode as org_code, org.orgname as org_name
        from ods_xcl_eos_org_organization org
        where 1=1
        order by org.orgcode asc
    </select>
    <select id="queryStoreInRentNum" resultType="java.math.BigDecimal">
        select sum(coalesce(renting_mat,0)) from ods_th_mat_occupancy_rate rate
        where 1=1
          and store_code = #{storeCode}
          and to_char(rate.create_time, 'yyyy-mm-dd') = #{targetDate};
    </select>
    <select id="queryStoreInRentRate" resultType="java.math.BigDecimal">
        select sum(coalesce(renting_mat,0)) / sum(coalesce(total_mat)) from ods_th_mat_occupancy_rate rate
        where 1=1
          and store_code = #{storeCode}
          and to_char(rate.create_time, 'yyyy-mm-dd') = #{targetDate};
    </select>
    <select id="queryStoreList" resultType="com.tanghe.domain.bi.StoreTargetIndexDaily">
        select distinct store_code as store_code,
                        store_name as store_name,
                        org_code,
                        org_name,
                        store_volume as max_store_volume,
                        dhg_dept_id as dhg_dept_id
        from ods_xcl_eos_mater_store_info
        where is_del = '0'
    </select>
    <select id="sumSaleAmountOfOrg" resultType="com.alibaba.fastjson2.JSONObject">
        select sum(daily.sales_amount_this_day) as 本日营业额,sum(daily.sales_amount_this_month) as 本月营业额
        from dwd_xcl_contract_target_index_daily daily
        left join ods_xcl_eos_contract contract on contract.contract_code = daily.contract_code
        left join ods_xcl_eos_mater_store_info store on contract.delivery_warehouse = store.store_code
        where store.org_code= #{orgCode} and to_char(daily.date,'yyyy-mm-dd') = #{yyyyMMdd}
    </select>
    <select id="sumSaleAmountOfOrg_with_yyyy_MM" resultType="java.math.BigDecimal">
        SELECT sum(income_month)
        from (SELECT org_code,
                     org_name, date, income, income_month, ROW_NUMBER() OVER (PARTITION by org_code, to_char(date, 'yyyy-mm') ORDER BY date desc)
              from ods_xcl_eos_org_trade_daily
              where to_char(date , 'yyyy-mm') = #{yyyyMM}
                and org_code=#{orgCode} ) temp
        where ROW_NUMBER = 1
    </select>
    <select id="queryOrgListWithShortName" resultType="com.tanghe.domain.bi.OrgTargetIndexDaily">
        select orgcode as org_code, short_name || '公司' as org_name
        from ods_xcl_eos_org_organization
        where code = '01'
    </select>
    <select id="selectIndexList" resultType="com.alibaba.fastjson2.JSONObject">
        select code, name
        from t_base_budget_type
        where is_deleted = '0' and has_child = '0'
    </select>
    <select id="selectIndexByCode" resultType="com.alibaba.fastjson2.JSONObject">
        select code, name
        from t_base_budget_type
        where is_deleted = '0' and code = #{code}
    </select>
    <select id="queryOrgDTOListWithShortName" resultType="com.tanghe.dto.OrgDTO">
        select orgcode as org_code, short_name  as org_name
        from ods_xcl_eos_org_organization
        where code = '01'
    </select>
    <select id="select_t_income" resultType="java.math.BigDecimal">
        select t_income from ods_xcl_ft_market_target_y
        where org_code = #{orgCode} and year::varchar = #{yyyy}
        limit 1
    </select>
    <select id="select_org_rent_out_rate" resultType="java.math.BigDecimal">
        select rent_out_rate
        from dwd_xcl_collect_org_target_index_daily
        where is_deleted = '0' and org_code = #{orgCode}
        order by date desc
        limit 1
    </select>
    <select id="sumOverdueAmountOfOrg" resultType="java.math.BigDecimal">
        select sum(target.overdue_amount)
        from dwd_xcl_contract_target_index_daily target
        left join ods_xcl_eos_contract contract on contract.contract_code = target.contract_code
        left join ods_xcl_eos_mater_store_info store on store.store_code = contract.delivery_warehouse
        where target.is_deleted = '0' and to_char(target.date,'yyyy-mm-dd') = #{yyyyMMdd} and store.org_code = #{orgCode} and contract.is_over = '0'
    </select>
    <select id="selectRegionStoreList_3220"
            resultType="com.tanghe.domain.bi.RegionStoreTargetIndexDaily">
        select org_code,org_name,region_code,region_name,store_code,store_name
        from ods_xcl_eos_base_region_store
    </select>
    <select id="selectRegionList_3220" resultType="com.tanghe.domain.bi.RegionTargetIndexDaily">
        select org_code,org_name,region_code,region_name,string_agg(store_code,',') as store_code_list_str
        from ods_xcl_eos_base_region_store
        group by org_code,org_name,region_code,region_name;
    </select>
    <select id="selectIndexList2" resultType="com.alibaba.fastjson2.JSONObject">
        select code, name
        from t_base_budget_type
        where code like '50'
    </select>
    <select id="sumSaleAmountOfStore" resultType="com.alibaba.fastjson2.JSONObject">
        select sum(daily.sales_amount_this_day) as 本日营业额,sum(daily.sales_amount_this_month) as 本月营业额
        from dwd_xcl_contract_target_index_daily daily
                 left join ods_xcl_eos_contract contract on contract.contract_code = daily.contract_code
                 left join ods_xcl_eos_mater_store_info store on contract.delivery_warehouse = store.store_code
        where 1=1 and to_char(daily.date,'yyyy-mm-dd') = #{yyyyMMdd}
        and store.store_code in
        <foreach collection="storeCodeList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="count_settle_doc_num" resultType="java.math.BigDecimal">
        select count(id)
        from ods_xcl_crm_contract_settle_doc_daily
        where is_deleted = '0' and org_code = #{orgCode} and to_char(date,'yyyy-mm-dd') = #{yyyyMMdd}
    </select>
    <select id="selectOpeningBalanceLast" resultType="java.math.BigDecimal">
        select  ending_balance
        from dwd_xcl_collect_org_target_index_monthly target
        where to_char(date,'yyyy-mm') &lt;=  #{yyyyMM} and org_code = #{orgCode}
        order by date desc limit 1
    </select>

</mapper>
