<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.bi.QueryCollectBookMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.bi.QueryCollectBook">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="salesContract" column="sales_contract" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="noMonthPriceAll" column="no_month_price_all" jdbcType="NUMERIC"/>
            <result property="monthPriceNo" column="month_price_no" jdbcType="NUMERIC"/>
            <result property="monthPriceGreen" column="month_price_green" jdbcType="NUMERIC"/>
            <result property="monthPriceYellow" column="month_price_yellow" jdbcType="NUMERIC"/>
            <result property="monthPriceRed" column="month_price_red" jdbcType="NUMERIC"/>
            <result property="monthPrice30" column="month_price_30" jdbcType="NUMERIC"/>
            <result property="monthPrice3090" column="month_price_30_90" jdbcType="NUMERIC"/>
            <result property="monthPrice90180" column="month_price_90_180" jdbcType="NUMERIC"/>
            <result property="monthPrice180270" column="month_price_180_270" jdbcType="NUMERIC"/>
            <result property="monthPrice270360" column="month_price_270_360" jdbcType="NUMERIC"/>
            <result property="monthPriceOver360" column="month_price_over_360" jdbcType="NUMERIC"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="collectAmountTax" column="collect_amount_tax" jdbcType="NUMERIC"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="collectAmount" column="collect_amount" jdbcType="NUMERIC"/>
            <result property="monthPrice90" column="month_price_90" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sales_contract,project_name,
        customer_name,region,dept_name,
        no_month_price_all,month_price_no,month_price_green,
        month_price_yellow,month_price_red,month_price_30,
        month_price_30_90,month_price_90_180,month_price_180_270,
        month_price_270_360,month_price_over_360,is_deleted,
        create_by,create_time,dept_code,
        collect_amount_tax,org_code,org_name,
        date,collect_amount,month_price_90
    </sql>
</mapper>
