<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghe.mapper.bi.StoreTargetIndexDailyMapper">

    <resultMap id="BaseResultMap" type="com.tanghe.domain.bi.StoreTargetIndexDaily">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="storeCode" column="store_code" jdbcType="VARCHAR"/>
            <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="keepTonPerStuff" column="keep_ton_per_stuff" jdbcType="NUMERIC"/>
            <result property="inStockTon" column="in_stock_ton" jdbcType="NUMERIC"/>
            <result property="noCheckTon" column="no_check_ton" jdbcType="NUMERIC"/>
            <result property="unsuppliedTon" column="unsupplied_ton" jdbcType="NUMERIC"/>
            <result property="stuffNum" column="stuff_num" jdbcType="NUMERIC"/>
            <result property="inRentTon" column="in_rent_ton" jdbcType="NUMERIC"/>
            <result property="inRentRate" column="in_rent_rate" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,store_code,
        store_name,is_deleted,create_time,
        create_by,keep_ton_per_stuff,in_stock_ton,
        no_check_ton,unsupplied_ton,stuff_num,
        in_rent_ton,in_rent_rate
    </sql>
</mapper>
